<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  *{
    font-family: 'Poppins', sans-serif;
  }

  span{
    color: red;
  }

  .calculator{
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

    <span>{{ title }} app is running!</span>
    <br>
    <span>{{ saludo }}</span>
    <br>
    <!-- <app-empleados></app-empleados> -->
    <!-- <div class="calculator">
      <app-mini-cal></app-mini-cal>
    </div> -->
    <app-form></app-form>



